.utility-panel {
position: absolute;
top: 20px;
left: 20px;
width: 260px;

padding: 20px 22px;
border-radius: 20px;

background: rgba(182, 182, 182, 0.297);
backdrop-filter: blur(14px) saturate(190%);
-webkit-backdrop-filter: blur(14px) saturate(190%);

border: 1px solid rgba(255, 255, 255, 0.25);
box-shadow: 0 12px 35px rgba(0, 0, 0, 0.28);

color: rgb(178, 178, 178);
font-family: "Inter", sans-serif;
}

/* Title */
.utility-title {
font-size: 16px;
font-weight: 700;
margin-bottom: 14px;
letter-spacing: 0.5px;
text-shadow: 0 2px 4px rgba(255, 255, 255, 0.257);
}

/* Sections */
.utility-section {
margin-bottom: 20px;
padding-bottom: 12px;
border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Section title */
.section-title {
font-weight: 600;
margin-bottom: 8px;
opacity: 0.9;
font-size: 14px;
}

/* Slider */
.slider {
width: 100%;
cursor: pointer;
accent-color: #565555;
}

/* Coming Soon */
.utility-coming-soon {
opacity: 0.6;
font-size: 13px;
}
