.mycanvas{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
}


.btn{
  margin: 5px;
  padding: 10px;
  background-color: rgba(145, 154, 255, 0.667);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}